*{
    margin: 0;
    padding: 0;
}

.title h1{
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
}

/*CONTAINER*/
.container{
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto; /*arriba y abajo, a los lados*/
    display: grid;
    gap: 1.6em;/*para la separacion entre elementos*/
    grid-template-columns: repeat(5,1fr);/*separo el container en 5 partes de 1fraccion*/
}


.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000000;
}

.container>.header, .container>.footer{
    grid-column: 1/-1; /*ocupa todo el espacio horizontalmente, osea es desde el punto 1 desde la izquierda hasta el -1 que es la esquina derecha*/
}

.container>.content{
    grid-column: span 3;/*ocupa 3 columnas(horizontalmente) de ancho*/
    grid-row: span 4; /*ocupa 4 filas de alto*/
}

.container>.sidebar{
    grid-column: span 2;/*ocupa 2 columnas(horizontalmente) de ancho*/
    grid-row: span 4; /*ocupa 4 filas de alto*/
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    .container .content {
        grid-column: 1 / -1;/*ocupa todo el espacio horizontalmente*/
    }
    .container .sidebar {
        grid-column: 1 / 6;/*ocupa desde la columna 1 hasta la 6*/
    }

    .container .related-post {
        grid-column: 1/-1; /*ocupa todo el espacio horizontalmente*/
    }
}