*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: #efefef;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 60px 0;
}
article{
    background: #fff;
    color: #707070;
    border-radius: 10px;
    padding: 40px;
    font-size: 16px;
    line-height: 32px;
    box-shadow: 5px 5px 50px rgba(0,0,0,.10);
}

.tooltip{
    font-weight: normal;
    color: #3c48e5;
    text-decoration: none;
    position: relative; /*importante*/
}
.tooltip :hover{
    text-decoration: underline;
}
.tooltipBox{
    display: none; /*con esto evitamos que se muestre hasta que le pasen el mouse*/
    background: black;
    line-height: 20px;
    z-index: 500;
    text-align: center;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    /*para abajo el codigo que me permite establecer la posicion en la que quiero que se ponga el tooltipBox*/
    position: absolute; /*importante*/
    left: 0;
    bottom: 20px;
}
.tooltip:hover .tooltipBox{
    display: inline-block;
}

/*agregamos el triangulito al tooltipBox*/
.tooltipBox::after{
    content: "";
    display: block;
    border-top: 7px solid black;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    position: absolute;
    bottom: -7px;
    left: calc(50% - 7px); /*centramos el cuadradito*/
}